.modal__language {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 4px;
  justify-content: center;

  .modal__language__item {
    list-style-type: none;
    padding: 10px;

    font-size: var(--text-size);
    &.active {
      border: 1px solid #303141;
      border-radius: 4px;
    }
    &:hover {
      cursor: pointer;
      transition: all 0.3s;
      background-color: var(--ud-btn-focus-background-color);
      color: var(--primary-color);
      border-radius: 4px;
    }
  }
}

.modal__otp {
  .modal__otp__input {
    margin-top: 2px;
  }
  .modal_otp__option {
    margin-top: 15px;
    display: flex;
    justify-content: right;

    .modal__otp__submid {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}

.title__modal_custom {
  font-size: 18px;
}
