.home_page_not__login {
    padding: 24px 24px 0;
    .home_page_not__login_img {
    }
    .home_page_not__login__sale {
        .home_page_not__login__title {
            padding: 24px 42px 48px;
            text-align: center;
            font-weight:  700;
        }
        .home_page_not__login__outstanding {
            .home_page_not__login__item {

            }
        }
    }
}