.form_forgot_password {
  padding: 64px 50px;
  margin: 0 70px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  .form_forgot_item {
    &:nth-of-type(2) {
      max-width: 420px;
      .register__item__title {
        padding-top: 48px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0;
      }
      .form_forgot_item_sub {
        margin-top: 32px;
        input {
          height: 46px;
          font-size: 16px;
          &::placeholder {
            color: black;
            font-weight: 500;
          }
        }
        button {
          margin: 25px 0;
          width: 100%;
          height: 46px;
          font-weight: bold;
          font-size: 16px;
          background-color: var(--primary-color);
          color: #fff;
        }
      }
      .form_forgot_password__orther {
        margin-top: 24px;
        .form_forgot_password__orther__register,
        .form_forgot_password__orther__login {
          display: flex;
          justify-content: center;
          background-color: #f6f7f9;
          padding: 16px;
          gap: 4px;
          a {
            font-size: 16px;
            color: var(--primary-color);
          }
        }
        .form_forgot_password__orther__login {
          border-bottom: 0.1rem solid #d1d2e0;
        }
      }
    }
  }
}
